<div class="container my-4">
  <div class="d-flex justify-content-center">
    <div class="card my-5" style="width: 30rem;">
      <div class="card-body">
        <h1 class="title">Please sign in</h1>
        <hr class="divisor">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   formControlName="login"
                   placeholder="Enter email">
          </div>
          <div *ngIf="!loginForm.get('login').valid && showValidationMessages" class="alert alert-primary" role="alert" style="margin-top: 16px">
            Your Login is incorrect!
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                   placeholder="Password">
          </div>
          <div *ngIf="!loginForm.get('password').valid && showValidationMessages" class="alert alert-primary" role="alert" style="margin-top: 16px">
            Your Password is empty!
          </div>
          <button  type="submit" class="btn btn-primary topBtn" (click)="logIn()"> Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
