<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/company-home">Company home</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/add-service">Add services</a></li>
      <li class="nav-item">
        <a class="nav-link" href="/ewallet-company">E-Wallet</a></li>
    </ul>
  </div>
  <a href="login" class="btn btn-primary" role="button" aria-pressed="true">Logout</a>
</nav>
